
/* Estilos del formulario de inicio de sesión   */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}


:root{
    --colorletras-No1: black;
    --colorletras-No2:white;
    --background-colorcontacto:#575151 ;
    --background-imagendefondo:url("img/fondo.jpg");
    --color-botones:#77b3df;
    --tipodeletras: 'Times New Roman';
    --fondomenu:#868585;
 
  }
  
  
  
  body {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-colorido-borroso-vivo_58702-2655.jpg);
    margin: 0;
    font-family: var(--font-family);
    color: var(--color);
    background-color: #dabbbb3b;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
 
  header img{
    width: 10%;
  }
  
.contenedorprincipal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    
   
   }
  .contenedor3 {
   
      padding: 5%; 
      color: var(--colorletras-No1);
      border-radius: 10px;
      box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.788);
      max-width: 400px;
      width: 100%;
      font-size: x-large;
      display: flex;
      align-content: center;
      justify-content: center;
      background-image: url(https://img.freepik.com/vector-gratis/fondo-blanco-gris-brillante-lineas-onduladas_1017-25101.jpg);
      background-repeat: no-repeat;
      background-size: 160%;
     
     
  }
  

  
  .campo {
      margin-bottom: 15px;
  }
  
  label {
      display: block;
      font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
      width: 100%;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  
  .enviar input[type="submit"] {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .enviar input[type="submit"]:hover {
      background-color: #555;
  }
  
  .olvidar{
    font-size: small;
  }
  
  .atras a{
    background-color: var(--color-botones);
    color: var(--colorletras-No1);
    text-decoration: none;
    border-radius: 4px;
    padding: 2px 5px;
    border: 2px solid rgb(235, 220, 220); 
    margin-left: 100px;
   }
  
 